@model ProjetoModel

<br />

<form asp-controller="Projeto" asp-action="Registrar">
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAcessor

    <input type="hidden" asp-for="Id" value="@try { @ViewBag.Projeto.Id } catch { } " />

    @{
        if (ViewBag.Projeto == null)
        {
            <h2>Registrar um projeto</h2>
            <br />

            <div class="form-group">
                <label>Nome do Projeto</label>
                <input asp-for="Nome" type="text" class="form-control" value="@try { @ViewBag.Projeto.Nome } catch { } " />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Descrição</label>
                <input asp-for="Descricao" type="text" class="form-control" value="@try { @ViewBag.Projeto.Descricao } catch { } " />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Cliente</label>
                <select asp-for="Cliente_Id" class="form-control">
                    @{
                        foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }

                    }
                </select>
            </div>

            <div class="form-group">
                <label>Etapa do Projeto</label>
                <select asp-for="Etapa_Id" class="form-control">
                    @{
                        foreach (var item in (List<EtapaModel>)ViewBag.ListaEtapas)
                        {
                            <option value="@item.Id">@item.Nome</option>
                        }

                    }
                </select>
            </div>

            <br /><br />

            <label>Produtos</label>
            <br />
            <div class="form-group">
                <div class="col-lg-9">
                    <select class="form-control" id="sltProduto">
                        @{
                            foreach (var item in (List<ProdutoModel>)ViewBag.ListaProdutos)
                            {
                                <option value="@item.Id">@item.Nome | @item.Preco_Unitario</option>
                            }

                        }
                    </select>
                </div>
                <div class="col-lg-1">
                    <input type="text" class="form-control" value="1" id="txtQuantidade" />
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-block btn-primary" onclick="AdicionarProduto()">Adicionar</button>
                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td>Quantidade</td>
                        <td>Preço Unitário</td>
                        <td>Total</td>
                    </tr>
                </thead>

                <tbody id="listaProdutos"></tbody>
            </table>

            <div style="float: left; font-size: 22px;">Total: R$ </div>
            <div style="float: left; font-size: 22px; margin-left: 5px;" id="divTotal"> 0.00</div>

            <input type="hidden" id="txtTotal" asp-for="Total" />

            <br /><br />

            <textarea asp-for="ListaProdutos" id="ListaProdutosJSON" style="display:none;"></textarea>

            <label>Colaboradores</label>
            <br />
            <div class="form-group">
                <div class="col-lg-9">
                    <select class="form-control" id="sltColaborador">
                        @{
                            foreach (var item in (List<ColaboradorModel>)ViewBag.ListaColaboradores)
                            {
                                <option value="@item.Id">@item.Nome | @item.CPF</option>
                            }

                        }
                    </select>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-block btn-primary" onclick="AdicionarColaborador()">Adicionar</button>
                </div>
            </div>

            <br /><br />

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Nome</td>
                        <td>CPF</td>
                    </tr>
                </thead>

                <tbody id="listaColaboradores"></tbody>
            </table>

            <textarea asp-for="ListaColaboradores" id="ListaColaboradoresJSON" style="display:none;"></textarea>

            <textarea asp-for="Empresa_Id" id="EmpresaLogada" style="display:none;"></textarea>

            <button type="submit" class="btn btn-block btn-success">Registrar</button>
        }
        else
        {
            <h2>Projeto</h2>
            <br />

            <div class="form-group">
                <label>@ViewBag.Projeto.Cliente_Id</label>
                <br />
                <label>@ViewBag.Projeto.Nome</label>
                <br />
                <label>há @ViewBag.Projeto.Data dias</label>
                <br />
                <label>@ViewBag.Projeto.Descricao</label>
            </div>

        }

    }

    <button type="button" class="btn btn-block btn-primary" onclick="Voltar()">Listagem de Projeto</button>
</form>

<script>
    var empresa = '@HttpContextAcessor.HttpContext.Session.GetString("IdEmpresaLogada")';
    document.getElementById("EmpresaLogada").value = empresa;
    

    var Itens = new Object();
    Itens.Produtos = new Array();

    var CodigoProduto = document.getElementById("sltProduto");
    var QtdeProduto = document.getElementById("txtQuantidade");
    var ListaProdutos = document.getElementById("listaProdutos");
    var txtTotal = document.getElementById("txtTotal");
    var TotalVenda = document.getElementById("divTotal");
    var ListaProdutosJSON = document.getElementById("ListaProdutosJSON");

    function Voltar()
    {
        window.location.href = '../Index';
    }

    function AdicionarProduto() {

        var DescricaoPreco = CodigoProduto.options[CodigoProduto.selectedIndex].text;
        var arrayDescricaoPreco = DescricaoPreco.split('|');
        var total = (arrayDescricaoPreco[1].replace(",", ".") * QtdeProduto.value);
        total = Math.round(total * 100) / 100;

        Itens.Produtos.push({
            "CodigoProduto": CodigoProduto.value,
            "Descricao": arrayDescricaoPreco[0],
            "QtdeProduto": QtdeProduto.value,
            "PrecoUnitario": arrayDescricaoPreco[1],
            "Total": total
        });

        ListaProdutosJSON.innerHTML = JSON.stringify(Itens.Produtos);

        var produto = "<tr>" +
            "<td>" + CodigoProduto.value + "</td>" +
            "<td>" + arrayDescricaoPreco[0] + "</td>" +
            "<td>" + QtdeProduto.value + "</td>" +
            "<td> R$ " + arrayDescricaoPreco[1] + "</td>" +
            "<td> R$ " + total + "</td>" +
            "</tr>";

        ListaProdutos.innerHTML += produto;
        var totalGeral = Math.round((TotalVenda.innerText * 1 + total) * 100) / 100;
        TotalVenda.innerHTML = totalGeral;
        txtTotal.value = totalGeral.toString().replace(".", ",");
    }



    var Func = new Object();
    Func.Colaboradores = new Array();

    var CodigoColaborador = document.getElementById("sltColaborador");
    var ListaColaboradores = document.getElementById("listaColaboradores");
    var ListaColaboradoresJSON = document.getElementById("ListaColaboradoresJSON");


    function AdicionarColaborador() {

        var NomeColaborador = CodigoColaborador.options[CodigoColaborador.selectedIndex].text;
        var arrayNomeColaborador = NomeColaborador.split('|');

        Func.Colaboradores.push({
            "CodigoColaborador": CodigoColaborador.value,
            "Nome": arrayNomeColaborador[0],
            "CPF": arrayNomeColaborador[1]
        });

        ListaColaboradoresJSON.innerHTML = JSON.stringify(Func.Colaboradores);

        var colaborador = "<tr>" +
            "<td>" + CodigoColaborador.value + "</td>" +
            "<td>" + arrayNomeColaborador[0] + "</td>" +
            "<td>" + arrayNomeColaborador[1] + "</td>" +
            "</tr>";

        ListaColaboradores.innerHTML += colaborador;
    }
    

</script>